
.body{
	font-size:12px;
	margin:0px auto;
	float:none;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	}

.head{
	height:100px;
	width:100%;
	background: url(/img/bghead.jpg) repeat-x left 0;
	
	}
.head1{
	height:100px;
	width:1000px;
	margin:0 auto;
	}
.head .logo{
	height:80px;
	width:270px;
	float:left;
	margin-left:0px;
	margin-top:-16px;
	
	}
.head .logo p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:36px;
	font-weight:bold;
	color:#088df6;
	line-height:22px;
	text-align:center
	}
.head .chucnang{
	width:375px;
	height:15px;
	float:right;
	text-align:center;
	margin-top:10px;
	margin-right:5px;
	}

.head .chucnang .chucnangcon{
	width:76px;
	height:15px;
	float:right;
	margin-right:6px;
	}
.head .chucnang .chucnangcon a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:100;
	color:#fffeff;
	text-decoration:none;
	text-align:center
	}
.head .chucnang .chucnangcon a:hover{color:#0000FF;}
.head .chucnang .chucnangcon1 a:hover{color:#0000FF;}
.head .chucnang .chucnangcon1{
	width:90px;
	height:15px;
	float:right;
	margin-right:3px;
	
	}
.head .chucnang .chucnangcon1 a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:100;
	color:#fffeff;
	text-decoration:none;
	text-align:center
	}
.head .ngancach{
	height:8px;
	width:1px;
	float:right;
	margin-top:4px;
	margin-left:2px;
	margin-right:2px;
	background:url(img/ngancach.jpg) no-repeat;
	}
.head .icongiohang{
	height:50px;
	width:89px;
	float:right;
	margin-top:12px;
	margin-right:0px;
	}
.head .chugiohang{
	width:109px;
	height:50px;
	float:right;
	margin-right:10px;
	}
.head .chugiohang p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:13px;
	font-weight:100;
	color:#fffeff
	}
.head .chugiohang b{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#FF0000
	} 

.menu{
	height:28px;
	width: 100%;
	background:url(/img/bgmenu1.JPG) repeat-x left 0;
	margin-bottom: 7px 
	}
.menu1{
	height:26px;
	width: 530px;
	margin: 0 auto;
	float:left;
	margin-left:150px;
	
	}
.search{
	height:12px;
	width:100%;
	background:url(/img/bgsearch.jpg) repeat-x left 0;
	margin-top:0px;
	margin-bottom: 7px 
	}
.search1{
	height:12px;
	width:1000px;
	margin: 0 auto; 
	}
.search .chaychu{
	height:12px;
	float:left;
	text-align:center;
	}
.timkiem{
	width:467px;
	height:18px;
	float:left;
	margin-right:0px;
	margin-top:3px;
	margin-left:20px;
	}
.pannel {float:right}
.timkiem .text {
	float:left;
	margin-left:0px;
	margin-top:1px;
	font-family:Arial, Helvetica, sans-serif;
	width:100px;
	}
.timkiem .button {
	background:url(/img/bgtimkiem.jpg) repeat-x left 0;
	height:20px;
	width:19px;
	float:left;
	margin-left:0;
	margin-top:2px;
	}
.main {
	width:100%;
	float: left;
	background:url(/img/bgmain.jpg) repeat-x left 0;
	}
.main1 {
	width:1000px;
	margin: 0 auto;
	}
.left {
	
	width:250px;
	float:left;
	margin-left:0px;
	margin-right:8px;
	}
.left .box-left1 .tieude{
	height:30px;
	width:250px;
	float:left;
	background:url(../img/tieude.jpg) repeat-x left 0;
	
	}
.left .box-left1 ul li{
    clear:left;
    width: 250px;
    height: 28px;
    background: #E5E5E5 url(/img/iconchitietdanhmuc.png) no-repeat 10px 10px;
    border-bottom: 1px solid #CACAC8;
    border-top: 1px solid white;
    display: block;
    margin-left:-40px;
}
.left .box-left1 ul li a {
    font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	float:left;
	text-decoration:none;
	color:#000000;
	margin-left: 20px;
	margin-top:5px;
	font-weight:bold;
	}
.left .box-left1 ul li  a:hover{
	color:#FF0000;
	}
.left .box-left1 .tieude p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-left: 26px;
	margin-top: 8px;
	font-weight:bold;
	color:#FFFFFF;
	}

.left .box-left1 .chitiet a:hover{
	color:#FF0000;
	}
.left .box-left2{
	width:250px;
	float:left;
	margin-top:0;
	margin-bottom:6px;
	}
.left .box-left2 .tieude{
	height:30px;
	width:250px;
	float:left;
	background:url(../img/tieude.jpg) repeat-x left 0;
	}
.left .box-left2 .tieude p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-left: 26px;
	margin-top: 8px;
	font-weight:bold;
	color:#FFFFFF;
	}
.left .box-left2 ul li{
clear:both;
width: 250px;
height: 28px;
background: #E5E5E5 url(/img/iconchitietdanhmuc.png) no-repeat 10px 10px;
border-bottom: 1px solid #CACAC8;
border-top: 1px solid white;
display: block;
margin-left:-40px;
}
.left .box-left2 ul li a{ font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	float:left;
	text-decoration:none;
	color:#000000;
	margin-left: 20px;
	margin-top:5px;
	font-weight:bold;
	}
.left .box-left2 ul li  a:hover{
	color:#FF0000;}
.left .box-left3{
	height:179px;
	width:250px;
	float:left;
	margin-top:0;
	margin-bottom:6px;
	background:url(/img/bghotrotructuyen.jpg) repeat-x left 0;
	}
.left .box-left3 .tieude{
	height:30px;
	width:250px;
	float:left;
	background:url(/img/tieude2.jpg) repeat-x left 0;
	}
.left .box-left3 .tieude p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-left: 26px;
	margin-top: 8px;
	font-weight:bold;
	color:#FFFFFF;
	}	
.left .box-left3 .noidung{
	height:148px;
	width:250px;
	float:left;
	margin-top:1px;}
.left .box-left3  .noidung .div1 p{
	font:Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height:18px;
	font-style:italic;
	text-align:center;
	font-weight:bold;
	color:#FF0000;
	margin-top:0
	}
.left .box-left3 .noidung .div1 b{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	text-align:center;
	line-height: 18px;
	color:#000000
	}
.left .box-left3 .noidung .div1{
	width:200px;
	height:26px;
	float:left;
	margin-left:30px;
	margin-bottom: 10px;}
.left .box-left3 .noidung .div2{
	width:175px;
	height:30px;
	float:left;
	margin-left:38px;
	margin-bottom: 10px;
	}
.left .box-left3 .noidung .div2 a{
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	float:left;
	margin-left: 0;
	
	}
.left .box-left3 .noidung .div2 p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-left:10px;
	margin-top: 0px;
	float:left;
	color:#CC6633;}
.left .box-left4{
	height:160px;
	width:240px;
	float:left;
	margin-top:0;
	margin-bottom:6px;
	padding: 4px;
	border: 1px solid #999999;
	
	}

.left .box-left5{
	height:172px;
	width:240px;
	float:left;
	margin:0;
	padding: 4px;
	margin-bottom:6px;
	border: 1px solid #999999;
	}
.left .box-left6{
	height:200px;
	width:250px;
	float:left;
	margin-top:0;
	margin-bottom:6px;
	
	}
.left .box-left6 .noidung{
	background:url(/img/bgthongketruynhap.jpg) repeat-y left 0;
	width:250px;
	height:120px;
	float:left;
	}
.left .box-left6 .noidung p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	float:left;
	margin-left:20px;
	line-height:18px;
	margin-bottom:6px;
	}
.left .box-left6 .noidung b{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	float:right;
	margin-top:2px;
	line-height:14px;}
.left .box-left6 .tieude{
	height:30px;
	width:250px;
	margin-bottom: 1px;
	float:left;
	background:url(/img/tieude2.jpg) repeat-x left 0;
	}
.left .box-left6 .tieude p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-left: 26px;
	margin-top: 8px;
	font-weight:bold;
	color:#FFFFFF;
	}	
.right{
	width:742px;
	float:right;
	margin-top:12px;
	margin-right: 0px;
	}
.right .slide{
	height:240px;
	width:742px;
	float:left;
	margin-bottom: 7px;
	margin-top: 0
	}
.right .hangsp{
	width:742px;
	margin-bottom:13px;
	float:left;
	}
.right .hangsp .tieudephai{
	background: url(../img/tieudephai.jpg) repeat-x left 0;
	height:30px;
	width:742px;
	float:left;
	margin-top:0;
	}
.right .hangsp .tieudephai img {
	max-width:116px;
	max-height:27px;
	margin-left:4px;
	margin-bottom:0px;
	margin-top:4px;
	overflow:hidden;
	border-top: 1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	border-radius: 8px 8px 0 0;
	}
/* them css tintuc */	
.cat-news               {  width: 705px; padding: 10px; font-size: 12px; font-family: Arial; text-align: left}
.cat-news img           { float: left; border: 1px solid #e7e7e7; width: 150px; margin: 5px}
.cat-news a             { font-size: 12px; font-weight: bold; color: black; margin: 0; padding: 0; text-decoration: none}
.cat-news a:hover       { text-decoration: underline;}
.news-more              { float: right; margin: 20px 3px; width: 55px; text-align: right; background: url(img/xemtiep.gif) no-repeat right 3px; padding-right: 8px;}
.news-more a            { font-size: 12px; font-weight: normal; color: red; margin: 0; padding: 0; text-decoration: none}
.news-more a:hover       { text-decoration: underline;}
 /* chi tiet tin tuc */
.other-news             { background: url(img/img_menubar.png) no-repeat left 4px; margin: 5px; padding-left: 10px;}
.other-news a           { text-decoration: none; font-size: 12px; color: Black}
.other-news a:hover     { color: Red}
 	
.right .hangsp .noidungtin a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	float:left;
	margin-left:2px;
	color:#000000;
	text-align:justify;
	text-decoration:none;
	}
.right .hangsp .noidungtin a:hover{
	color:#FF0000}

/*ket thuc them css tin tuc*/	
.right .hangsp .tieudephai .dienthoai{
	height:25px;
	width:117px;
	background:url(../img/dienthoai.jpg);
	margin-left:4px;
	margin-bottom:0;
	margin-top:5px;
	border-top: 1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	border-radius: 8px 8px 0 0;
	}
.right .hangsp .tieudephai .dienthoai p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-left:32px;
	margin-top:4px;
	font-weight:bold;}
.right .hangsp .hang{
	width:735px;
	
	float:left;
	margin-left:4px;
	margin-top:0;
	border-right: 1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	background:#ffffff;
	border-radius: 0 0 8px 8px;
	}
.right .hangsp .hang ul{
	
	width:200px;
	float:left;
	margin-left:0px;
	}
.right .hangsp .hang li{
	display:block;
	background:url(../img/iconhangsanpham.jpg) no-repeat left 4px;
	
	}
.right .hangsp .hang a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-left: 10px;
	text-decoration:none;
	color:#000000;
	}
.right .hangsp .hang a:hover{
	color:#FF0000;
	}
.right .sanpham{
	
	width:742px;
	float:left;
	
	}
.right .sanpham .sanpham1{
	height:253px;
	width:179px;
	float:left;
	margin-right:8px;
	margin-bottom:8px;
	background:url(../img/sanpham1.jpg) ;
	}
.right .sanpham .sanpham1 img {
	max-height:157px;
	max-width:140px;
	overflow:hidden;
	margin-bottom: 4px;
	margin-top:10px;
	margin-left:10px;
	border: none;
	}
.right .sanpham .sanpham1 a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	font-weight:bold;
	margin-left: 24px;
	margin-top:6px;
	color:#000000;
	text-decoration: none;
	}
.right .sanpham .sanpham1 a:hover{
	color:#FF3399;}
.right .sanpham .sanpham2 a:hover{
	color:#FF3399;}
.right .sanpham .sanpham1 p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:center;
	font-weight:bold;
	margin-top:0px;
	margin-bottom: 2px;
	margin-left:23px;
	}
.right .sanpham .sanpham1 b{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:center;
	font-weight:bold;
	color:#FF0000;}
.right .sanpham .sanpham1 .button{
	height:16px;
	width:65px;
	background: url(../img/button.jpg) repeat-x left 0;
	border-radius: 6px 6px 6px 6px;
	border: 1px solid #FF0000;
	color:#FFFFFF;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	}
.right .sanpham .sanpham1 .button a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	font-weight:bold;
	margin-left: 6px;
	margin-top:6px;
	color:#FFFFFF;
	text-decoration: none;
	}
.right .sanpham .sanpham2 .button a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	font-weight:bold;
	margin-left: 6px;
	margin-top:6px;
	color:#FFFFFF;
	text-decoration: none;
	}
.right .sanpham .sanpham2{
	height:253px;
	width:179px;
	float:right;
	margin-right:0px;
	margin-bottom:8px;
	background:url(../img/sanpham1.jpg);
	}
.right .sanpham .sanpham2 img {
	max-height:155px;
	max-width:143px;
	overflow:hidden;
	margin-bottom: 4px;
	margin-top:10px;
	margin-left: 10px;
	border:none;
	}
.right .sanpham .sanpham2 a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	font-weight:bold;
	margin-left: 21px;
	margin-top:6px;
	color:#000000;
	text-decoration: none;
	}
.right .sanpham .sanpham2 p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:center;
	font-weight:bold;
	margin-top:0px;
	margin-bottom: 2px;
	margin-left:23px;
	}
.right .sanpham .sanpham2 b{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:center;
	font-weight:bold;
	color:#FF0000;}
.right .sanpham .sanpham2 .button{
	height:16px;
	width:65px;
	background: url(../img/button.jpg) repeat-x left 0;
	border-radius: 6px 6px 6px 6px;
	border: 1px solid #FF0000;
	color:#FFFFFF;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	}
.right .sanpham .sanpham2 .button a{color:#FFFFFF}	
.clear{
	clear:both;
	  }
.phantrang{
	height:48px;
	width:1000px;
	float:left;
	margin: 55px 0 0 0;
	}
.phantrang .ptcon{
	height:48px;
	width:400px;
	margin-left:360px;
	float:left;
	border:none;
	}
.phantrang .ptcon .chu{
	height:14px;
	width:31px;
	float:left;
	margin-left:5px;
	margin-top:15px;
	margin-right:8px;
	}
.phantrang .ptcon .chu p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	float:left;
	margin-top:-1px;
	line-height:18px;
	font-weight:bold;
	}
.phantrang .ptcon .chu a{
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	float:left;
	font-weight:bold;
	color:#000000;
	}
.phantrang .ptcon .chu a:hover{
	color:#FF0000;
	border-radius: 2px 2px 2px 2px;
	}
.phantrang .ptcon .chu a:actived{
	border-radius:2px 2px 2px 2px;
	background:#FF0000;
	}
.phantrang .ptcon .chu a:visited{
	border-radius:2px 2px 2px 2px;
	background:#FF0000;
	}
.phantrang .ptcon .chu a.selected{
	border-radius:2px 2px 2px 2px;
	background:#FF0000;
	height:6px;
	width:6px;
	}
.phantrang .ptcon .so{
	height:15px;
	width:22px;
	margin-top:15px;
	margin-left:5px;
	float:left;
	}
.phantrang .ptcon .so a{
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	float:left;
	font-weight:bold;
	color:#000000;
	}
.phantrang .ptcon .so a:hover{
	color:#FF0000;
	border-radius: 2px 2px 2px 2px;
	}
.phantrang .ptcon .so a:visited{
	border-radius:2px 2px 2px 2px;
	background:#FF0000;
	}
.footer {
	height:172px;
	width:100%;
	background:url(../img/bgfooter.jpg) repeat-x left 0;
	}
.footer1 {
	height:172px;
	width:1000px;
	margin: 0 auto;
	}
.footer .cuoi1{
	height:145px;
	width:1000px;
	margin-bottom: 1px;
	float:left;
	}
.footer .cuoi1 .left1{
	height:145px;
	width:250px;
	float:left;
	margin-left:0px;
	}
.footer .cuoi1 .left1 .anh1{
	width:1px;
	height:145px;
	float:right;
	margin-top:0;
	background:url(/img/anhcuoi.jpg) no-repeat center;
	}
.footer .cuoi1 .left1 .tieude{
	height:34px;
	width:200px;
	float:left;
	background:#000000;
	}
.footer .cuoi1 .left1 .tieude p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#aaaaaa;
	float:left;
	margin-left: 35px;
	line-height:18px;
	}
.footer .cuoi1 .left1 ul{
	height:105px;
	width:200px;
	float:left;
	margin-left:-18px;
	margin-top:-10px;
	}
.footer .cuoi1 .left1 li{
	display:block;
	background:url(../img/iconcuoi.jpg) no-repeat left 4px;
	margin-top:6px
	}
.footer .cuoi1 .left1 a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-left: 10px;
	text-decoration:none;
	color:#aaaaaa;
	}
.footer .cuoi1 .left1 a:hover{
	color:#FF0000;
	}


.footer .cuoi1 .left1 a:hover{
	color:#FF0000;
	}	
.cuoi2{
	height:26px;
	width:100%;
	background:url(../img/bgcuoi21.jpg) repeat-x left 0;
	float:left;
	margin-top:-27px
	} 
 .cuoi21{
	height:26px;
	width:1000px;
	margin: 0 auto
	}
 .cuoi2 .chaychu{
	height:26px;
	width:1000px;
	float:left;
	text-align:center;
	
	}
	.cuoi2 .chaychu p{
	margin:0;
	padding:0;
	
	}
.right3	{width:252px; height:172px;margin-bottom:9px}
.right3 .right31	{border-top-right-radius:8px;border-top-left-radius:8px; height:23px; width:245px;border:1px solid #B6BFC6;padding-left:5px;padding-top:4px;font-weight:bold;}
.right3 .right32	{width:238px;height:135px;border:1px solid #B6BFC6;border-top:0px;padding:0 6px;padding-top:7px;text-align:center}
.quangcao {width:90px; height:900px; background:red; float:left;margin-top:12px;}